<html>
    <head></head>
    <body>
            <form action="upImg" method = "post" enctype="multipart/form-data">
                <input type="file" name="file"></input>
                <input type="submit" value="Up"/>
            </form>  
          
        <form action="newProduct" method="post">
                
            <h1>Up ảnh</h1>
            <h1>Nhập tên sản phẩm</h1>
            <input type="text" name="name"></input>
            <h1>Nhập giá sản phẩm</h1>
            <input type="text" name="money"></input>
            <h1>Nhập trạng thái sản phẩm</h1>
            <input type="text" name="state"></input>
            <input type="submit">
        </form>
    </body>
</html>