<html>
    <head/>
    <body>
         <a href="http://localhost:6969/admin/addproduct">
        <button>Nhập sản phẩm</button>
        </a>
        <a href="http://localhost:6969/admin/editProduct">
            <button>Sửa sản phẩm</button>
            </a>
       
    </body>
    </body>
</html>